.about-me__github-link {
  margin: 99px 0 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 770px) {
  .about-me__github-link {
    margin-top: 87px;
  }
}

@media screen and (max-width: 600px) {
  .about-me__github-link {
    margin-top: 40px;
  }
}