.login {
  width: 396px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 70px 0;
}

@media screen and (max-width: 770px) {
  .login {
    padding: 232px 0;
  }
}

@media screen and (max-width: 600px) {
  .login {
    padding: 56px 0 30px;
    width: 260px;
  }
}