.header-movies__burger-menu {
  background-image: url(../../../images/icon__COLOR_icon-main.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 0px;
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
}

.header-movies__burger-menu:hover {
  opacity: .8;
}

@media screen and (min-width: 800px) {
  .header-movies__burger-menu {
    display: none;
  }
}

.header-movies__burger-menu-main {
  background-color: #F3C1F8;
}

.header-movies__burger-menu-movie {
  background-color: #fff;
}