.movies-card__duration {
  grid-area: duration;
  margin: 29px 0 0;
  padding: 7px 0 0;
  border-top: 1px solid #E8E8E8;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: center;
  color: #A0A0A0;
}

@media screen and (max-width: 600px) {
  .movies-card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}