.register__text-login {
  margin: 16px 0 0;
  text-align: center;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .register__text-login {
    font-size: 12px;
    line-height: 15px;
  }
}